.finder__btn {
  background-color: #323a48;
  padding: 7px 13px;
  color: $mainlightgrey;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.finder__btn:hover {
  background-color: #323a48;
}
