.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7vw;
  padding-bottom: 6rem;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
}

.title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 425px) {
  .title {
    margin-bottom: 0;
  }
}
