.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: var(--header-heigth);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-heigth));
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14px);
  z-index: 98;
  will-change: contents;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav__item {
  font-weight: 600;
  position: relative;
}
