$maindarkblue: #222831;
$maindarkgrey: #393e46;
$mainlightblue: #00adb5;
$mainlightgrey: #eeeeee;

$bg-color: $maindarkblue;
$text-color: $mainlightgrey;

$codebg: #2e2e2e;
$codecomments: #797979;
$codered: #ff6188;
$codegreen: #a9dc76;
$codeyellow: #ffd866;
$codeblue: #78dce8;
$codepurple: #ab9df2;
