@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --maindarkblue: #222831;
  --maindarkblue-2: #272d38;
  --maindarkgrey: #393e46;
  --maindarkgrey2: #1b1c1e;
  --maindarkgrey2-75: #1b1c1e75;
  --mainlightblue: #00adb5;
  --mainlightgrey: #eeeeee;

  --bg-color: var(--maindarkblue);
  --text-color: var(--mainlightgrey);

  --codebg: #2e2e2e;
  --codecomments: #797979;
  --codered: #ff6188;
  --codegreen: #a9dc76;
  --codeyellow: #ffd866;
  --codeblue: #78dce8;
  --codepurple: #ab9df2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  min-height: 100vh;
  background-color: var(--maindarkgrey2);
  color: var(--mainlightgrey);
  position: relative;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
