.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__code1 {
    color: $mainlightblue;
    position: absolute;
    top: 25%;
    right: 5%;
  }

  &__code2 {
    color: $mainlightblue;
    position: absolute;
    top: 75%;
    left: 5%;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
